<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Add A Pet</h2>
    <form action='/pets/create' method="post">
    {% csrf_token %}
        Type: <input type='hidden' name='newanimal' value=''><input type='text' name='newanimal'><br>
        Or use an existing type
        <select name='animal'> 
        <option hidden selected value=''></option>
                {% for type in type_list %}
                <option value='{{type.id}}'>{{type.animal}}</option>
                {% endfor %}
                
            </select><br>
        Name: <input type="text" name='name'>
        <input type='submit' value='Add Pet'>
    </form>
    {% for message in messages %}
    {% if 'create' in message.tags %}
    <p>{{message}}</p>
    {% endif %}
    {% endfor %}
</body>
</html>